body.home-body {
  background-color: #edeff1;
}

.tx-bar {
  border-width: 3px;
  border-radius: 6px;
}

.tx-bar.tx-regular {
  border-left-style: solid;
  border-color: $regular-light;
}

.tx-bar.tx-vote {
  border-right-style: solid;
  border-color: $vote-light;
}

.tx-bar.tx-ticket {
  border-left-style: solid;
  border-color: $ticket-light;
}

.tx-bar.tx-rev {
  border-right-style: solid;
  border-color: $rev-light;
}

.tx-gauge {
  height: 5px;
  margin: 0 1px;
  width: 25%;
  transition: width 1s ease-in-out;
}

.tx-gauge.tx-regular {
  background-color: $regular-light;
}

.tx-gauge.tx-vote {
  background-color: $vote-light;
}

.tx-gauge.tx-ticket {
  background-color: $ticket-light;
}

.tx-gauge.tx-rev {
  background-color: $rev-light;
}

.card-icon {
  font-size: 1.6rem;
}
